
  <!-- ======= Header ======= -->
  <header id="header" class="fixed-top ">
    <div class="container d-flex align-items-center justify-content-between">
      {% set logo = header.logo.one() %}
      <a href="#" class="logo">
        <img src="{{ logo.url }}" alt="{{ logo.title }}" class="img-fluid">
      </a>
      <!-- Uncomment below if you prefer to use an text logo -->
      <!-- <h1 class="logo"><a href="index.html">Folio</a></h1> -->

      <nav id="navbar" class="navbar">
        <ul>
          {% set navigation = header.navigation.all() %}
          {% for nav in navigation %}
            <li><a class="nav-link scrollto" href="{{ nav.url }}">{{ nav.title }}</a></li>
          {% endfor %}
        </ul>
        <i class="bi bi-list mobile-nav-toggle"></i>
      </nav>

    </div>
  </header>
  <!-- End Header -->
